@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  /* colors */
  --black: #111111;
  --dark-gray: #181818;
  --medium-gray: #2b2a2a;
  --light-gray: #7d7d7d;
  --gray-white: #EBE9E3;
  --green: #84EEA2;
  /* font & font-weights */
  --site-font: 'Montserrat', sans-serif;
  --h1: 900;
  --h2: 800;
  --h3: 700;
  --body: 600;
  /* font-sizes */
  --home-header: 3.125rem;
  --home-subheader: 1.9rem;
  --home-link: 1.56rem;
  --section-header: 1.94rem;
  --site-link: 1.44rem;
  /* --about-body: 1.25rem; */
  --project-summary-name: 1.69rem;
  --project-summary-description: 1.44rem;
  --project-page-body: 1.25rem;
  --contact-header-and-btn: 1.56rem;
  --contact-message: 1.125rem;
  --nav-header: 1.25rem;
  --nav-menu: 1.94rem;
  --nav-contact: 0.875rem;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--gray-white);
  font-family: var(--site-font);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: var(--green);
  font-weight: var(--h3);
}

button {
  background-color: var(--green);
  color: var(--black);
  border: none;
  border-radius: 20px;
  font-weight: var(--h1);
}

.app {
  /* height: 100vh; */
}

/* ---content container--- */

.main-content-container {
  height: calc(100vh - 75px);
  overflow: scroll;
  scroll-behavior: smooth;
}

/* ---page container--- */

.container {
  margin: 1.25em;
  padding-bottom: 4em;
}

/* ---navbar--- */

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 75px;
  border-bottom: solid 3px;
  border-color: var(--dark-gray);
  background-color: var(--black);
  top: 0;
  width: 100%;
  position: sticky;
}
.navbar__contact {
  padding: .5em 1em;
  font-family: inherit;
  font-size: var(--nav-contact);
  font-weight: var(--h1);
  color: var(--black);
  background-color: var(--green);
  border-radius: 20px;
  margin-right: 1em;
}


/* ---home--- */
.home {
  /* margin-top: calc(75px + 1.25em); */
}
.home__header {
  font-weight: var(--h1);
  font-size: var(--home-header);
  margin: 0 0 .65em 0;
  line-height: 1;
}
.home__img {
  margin-bottom: 1.25em;
}
.home__subheader {
  font-weight: var(--h3);
  font-size: var(--home-subheader);
  margin: 0;
  line-height: 1.35;
}
.home__subheader--dark {
  color: var(--light-gray);
}
.home__link {
  font-size: var(--home-link);
  display: block;
  margin-top: 1.5em;
}

/* ---about me--- */

.about__header {
  font-weight: var(--h1);
  font-size: var(--section-header)
}
.about__body {
  font-size: var(--about-body);
  color: var(--light-gray);
  line-height: 1.5;
}
.about__body:nth-last-of-type(1) {
  margin-bottom: 2em;
}
.about__link {
  display: block;
  margin-bottom: 1em;
  font-size: var(--site-link);
}

/* ---recent projects--- */

.recent-projects__header {
  font-weight: var(--h1);
  font-size: var(--section-header)
}
.project-summary {
  margin: 2.5em 0;
}
.project-summary__name {
  font-weight: var(--h2);
  font-size: var(--project-summary-name);
}
.project-summary__description {
  color: var(--light-gray);
  font-size: var(--project-summary-description);
}
.project-summary__link {
  display: block;
  font-size: var(--site-link);
  margin-bottom: .5em;
}

/* ---contact--- */

.contact__header {
  font-weight: var(--h1);
  font-size: var(--section-header)
}
.contact__link {
  font-size: var(--site-link);
}
.contact__link-type {
  text-transform: uppercase;
  font-weight: var(--h2);
  margin-bottom: -1em;
}
.contact__link-handle {
  color: var(--light-gray);
  margin-bottom: 1.5em;
}
.contact__form-header {
  font-weight: var(--h3);
  font-size: var(--contact-header-and-btn);
}
